/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* 컨테이너 */
.container {
    display: flex;
    width: 100%;
}

/* 왼쪽 섹션 */
.left_section {
    width: 50%; /* 화면의 절반 차지 */
    background-image: url('img/Main_swimming.jpg'); /* 배경 이미지 */
    background-size: cover; /* 이미지 비율 유지하며 영역 채우기 */
    background-position: center; /* 이미지 가운데 정렬 */
}

.left_text {
    position: absolute; /* 위치를 부모 요소 기준으로 설정 */
    top: 50px; /* 위쪽에서 50px 떨어짐 */
    margin-left: 170px;
    color: white; /* 텍스트 색상 */
    font-size: 36px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵게 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 그림자 추가 */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* 우측 섹션 */
.right-section {
    flex: 1;
    background-color: #394450;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-section h2 {
    font-size: 18px;
    color: #FFFF;
    margin-bottom: 10px;
}

.right-section h2 .dot {
    color: #FFB400;
}

.logo {
    font-size: 50px;
    color: #85BEDD;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #FF8C00;
}

/* 링크 스타일 수정 */
form p a {
    color: white; /* 흰색 텍스트 */
    text-decoration: none; /* 밑줄 제거 */
    transition: color 0.3s; /* 색 전환 효과 */
}

form p a:hover {
    color: #FFA500; /* 오렌지색으로 변경 */
}

form p {
    text-align: center;
    margin-top: 10px;
}
