<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Pebble.it.db.CalendarMapper">
  <insert id="insertSchedule" parameterType="com.Pebble.it.model.CalendarDTO">
    INSERT INTO schedule (
        title,
        datetime,
        is_all_day,
        memo
    )
    VALUES (
        #{title},
        #{datetime},
        #{isAllDay},
        #{memo}
    )
</insert>
</mapper>