<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Pebble.it.db.DiaryMapper">
	<!-- 일기 저장 -->
    <insert id="insertDiary" parameterType="com.Pebble.it.model.DiaryDTO">
        INSERT INTO tb_diary (
            diary_idx,
            user_id,
            diary_category,
            diary_title,
            diary_content,
            diary_dt,
            diary_file
        ) VALUES (
            SEQ_DIARY.NEXTVAL, -- 시퀀스를 사용하는 경우
            #{userId},
            #{diaryCategory},
            #{diaryTitle},
            #{diaryContent},
            SYSDATE,
            #{diaryFile}
        )  
    </insert>
    
    <select id="selectAllDiary" resultType="com.Pebble.it.model.DiaryDTO">
    SELECT diary_idx, user_id, diary_category, diary_title, diary_content, diary_dt, diary_file
    FROM tb_diary
    ORDER BY diary_dt DESC
</select>

</mapper>