<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Pebble.it.db.todoMapper">
	<!-- 1. 할일 등록 -->
	<!-- 할일 추가 -->
	<insert id="insertTodo"
		parameterType="com.Pebble.it.model.todoDTO">
		insert into TB_TODO values (seq_todo.nextval, #{userId},#{todoTitle}
		#{todoStatus}, sysdate)
	</insert>

	<!-- 로그인한 사용자의 내용 읽기 -->
	<select id="showTodo" parameterType="string"
		resultType="com.Pebble.it.model.todoDTO">
		select * from TB_TODO
		WHERE user_id = #{userId}

	</select>

	<!-- 3. 할일 상태 업데이트 -->
	<update id="updateTodoStatus"
		parameterType="com.Pebble.it.model.todoDTO">
		UPDATE tb_todo
		SET todo_status = #{todoStatus}
		WHERE todo_idx = #{todoIdx}
	</update>

	<!-- 4. 할일 삭제 -->
	<delete id="deleteTodo" parameterType="int">
		DELETE FROM tb_todo
		WHERE todo_idx = #{todoIdx}
	</delete>
</mapper>